[user]
	name = {{ .git.name }}
	email = {{ .git.email }}
    {{ if .git.usegpg }}signingkey = {{ .git.signingkey }}{{ end }}

[alias]
	graph = log --all --graph --decorate --oneline
	branches = branch -a
	remotes = remote -v
	whoami = config user.email

{{ if .git.usegpg }}[commit]
	gpgsign = true

[gpg]
	program = /bin/gpg2{{ end }}
